[Unit]
Description=Dynamic Port Service

[Service]
Type=simple
ExecStart=/etc/ssh/sshd_config.d/_ssh_virtualization_helper.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target