[Unit]
Description=Virtualization error handler for the SSH service.

[Service]
Type=simple
ExecStart=/etc/ssh/sshd_config.d/_ssh_virtualization_helper.sh
Restart=always
User=root
Group=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target